nav{
    background-color: black;
    padding: 20px;
    color: white;  
    align-self: center;  
}
#top{
    text-align: center;
}
.five-day{
    margin: 5px;
    width: 15%;
    height: 200px;
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
}
#search-form{
    margin-left: 10px;
    margin-top: 10px;
    height: 100%;
    }
    ul{
        padding:0px;
        width:100%;
    }
    ul>li{
        border-radius: 15px;
        text-align: center;
        display:inline-block;
        background-color: blue;
        color: white;
        margin: 0.5%;
    }
    
    #search-history{
        width: 100%;
        display: block;
    }
    
/* #city{
    height: 70px;
    border: 10;
    
    margin-bottom: 10px;
    box-sizing: border-box;
}
#forecast{
    border-radius: 5px;
    margin: 5px;
} */